@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;500;700&display=swap");

*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:active,
:focus,
:hover {
	outline: none !important;
	outline-offset: 0;
}

a,
a:hover {
	text-decoration: none;
}

:root {
	font-size: 16px;
}

$bgColor: #f2f2f2;
$textColor: #333333;
$bgBody: #666666;
$linkColor: #ffb619;
$cardColor: #1c3e9b;
$lineHeight: 22px;

html {
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	height: 100vh;
	position: relative;
	font-family: "Libre Franklin", sans-serif;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		width: 0.25em;
	}

	&::-webkit-scrollbar-track {
		background: #263040;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 20px;
		background: $linkColor;
	}

	&::-webkit-scrollbar-corner {
		background: transparent;
	}
}

// Header
.navbar {
	background-color: $bgColor;
	position: relative;
	height: 60px;
	transition: all 0.9s ease-in-out;

	.fab {
		color: $bgBody;

		&:hover {
			color: #30a1fd;
		}
	}
}

.siteLogo {
	width: 205px;
	height: 55px;
}

.navigation-wrap {
	position: fixed;
	width: 100%;
	height: 115px;
	left: 0;
	padding: 1.25rem;
	z-index: 1000;
	background-color: #fff;
	transition: all 0.3s ease-in;

	.nav-item {
		transition: all 0.2s linear;
		padding: 0.25rem;
	}

	#navbarText {
		text-align: center;
		text-transform: uppercase;

		.nav-link {
			font-size: clamp(1rem, 1.5rem, 1rem);
			font-weight: 500;
			line-height: $lineHeight;
			color: $textColor;

			&:active,
			&:hover {
				color: #30a1fd;
			}
		}
	}
}

.scroll-on {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: $bgColor;
	transition: all 0.15s ease-in-out 0s;
}

// Top-Wrapper
#home {
	padding-top: 7rem;
}

.input-group-addon {
	display: flex;
	align-items: center;
	background-color: #efefef;
	border-radius: 0px 5px 5px 0px;
	padding: 5px;
}

.top-wrapper {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url("/IMG/HeaderBack.png");
	width: 100%;
	height: 670px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	.left-wrapper {
		padding-top: 120px;

		.top-rabbit {
			width: 100%;
			max-width: 450px;
			height: auto;
		}
	}

	.right-wrapper {
		width: 600px;
		padding-top: 195px;
		padding-left: 100px;

		h5 {
			color: #fff;
			font-size: 2.5rem;
			text-align: center;
		}

		p {
			color: #ccc;
			font-size: 1.2rem;
			line-height: $lineHeight;
			margin: 20px 0px;
		}

		.btn {
			width: 170px;
			height: 50px;
			left: 0px;
			top: 0px;
			font-size: 0.8rem;
			line-height: $lineHeight;
			color: #fff;
			text-align: center;
			text-transform: uppercase;
			padding: 15px 35px;
			margin-right: 15px;
			border: 1px solid #fff;

			&:hover {
				color: #fff;
				background-color: $linkColor;
			}
		}
	}
}

// Choose
#choose {
	background: url("/IMG/ChooseBack.png");
	height: 160px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	.choose__block {
		padding: 55px 0;
	}

	.choose__h3 {
		font-size: clamp(1.5rem, 2rem, 1.5rem);
	}

	.btnChoose {
		height: 50px;
		font-size: 1rem;
		line-height: $lineHeight;
		color: #fff;
		background-color: $linkColor;
		border: none;
		border-radius: 15px;
		text-align: center;
		padding: 15px 35px;

		.fas {
			font-size: 1.5rem;
			margin-right: 0.5rem;
		}
	}
}

// Choose section
.choose-wrapper {
	width: 1170px;
	height: 450px;
	margin-top: 80px;
	margin-bottom: 120px;

	.servLeft {
		&::after {
			content: "";
			display: block;
			border: 4px solid #e6e6e6;
			width: 440px;
			height: 420px;
			position: absolute;
			top: -30px;
			left: -30px;
			z-index: -10;
		}
	}

	.bottom-rabbit {
		width: 100%;
		max-width: 440px;
		height: auto;
	}

	.servRight {
		padding-left: 70px;

		h5 {
			font-size: clamp(1.5rem, 2rem, 1.5rem);
			text-transform: uppercase;
			font-weight: 700;

			&::after {
				content: "";
				border-bottom: 3px solid $cardColor;
				width: 60px;
				display: block;
				position: absolute;
				bottom: 10px;
			}
		}

		p {
			font-size: 0.8rem;
			line-height: $lineHeight + 2px;
			margin-bottom: 30px;
		}

		.blocks {
			height: 115px;
			padding: 0;
		}

		.fas {
			width: 60px;
			height: 60px;
			font-size: 2rem;
			text-align: center;
			padding: 13px 0;
			background-color: $cardColor;
			border-radius: 10px;
			color: $bgColor;
		}

		.group {
			width: 200px;
			margin-left: 70px;

			h6 {
				font-size: clamp(1rem, 1rem, 2rem);
				line-height: 1.2rem;
			}

			p {
				font-size: 0.8rem;
				line-height: $lineHeight + 4px;
			}
		}
	}
}

// Service
.service-wrapper {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(/IMG/HeaderBack.png);
	width: 100%;
	height: 670px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	.headServ {
		color: $bgColor;
		font-size: clamp(2rem, 2.5rem, 2rem);
		text-align: center;
		padding-top: 80px;
		text-transform: uppercase;
		font-weight: 700;

		&::after {
			content: "";
			display: block;
			border-bottom: 3px solid $bgColor;
			width: 60px;
			position: absolute;
			bottom: 0px;
			left: 47%;
		}
	}

	.service-block__two {
		margin-top: 70px;

		.service-block__three {
			width: 270px;
			height: 265px;
			background: transparent;
			margin: 0 auto;
			transition: 0.3s;

			.fas {
				margin-top: 50px;
				font-size: 3rem;
				color: $bgColor;
			}

			.border__service {
				width: 260px;
				height: 265px;
				border: 4px solid #1c3e9b;
				border-radius: 10px;
				cursor: pointer;

				&:hover {
					background-color: $cardColor;
					transition: 0.3s;
				}
			}

			.service__group {
				padding: 10px;

				h3 {
					color: $bgColor;
					font-size: clamp(1rem, 1.5rem, 1.2rem);
					line-height: $lineHeight;
					text-align: center;
				}

				p {
					color: #cccccc;
					font-size: clamp(0.8rem, 1rem, 1rem);
					line-height: $lineHeight;
					text-align: center;
					margin-top: 15px;
				}
			}
		}
	}
	.service__btn {
		width: 215px;
		height: 50px;
		font-size: 0.8rem;
		line-height: $lineHeight;
		color: #fff;
		background-color: $linkColor;
		border: 1px solid transparent;
		border-radius: 10px;
		text-align: center;
		text-transform: uppercase;
		padding: 15px 35px;
		margin-top: 65px;
		transition: 0.3s;

		&:hover {
			background: transparent;
			border: 1px solid $linkColor;
			border-radius: 10px;
			transition: 0.3s;
		}
	}
}

// Projects
.projects__wrapper {
	background-color: #fff;
	width: 100%;
	margin-top: 80px;
	margin-bottom: 140px;

	.prj__h3 {
		color: $textColor;
		font-size: clamp(2rem, 2.5rem, 2rem);
		text-align: center;
		text-transform: uppercase;
		font-weight: 700;

		&::after {
			content: "";
			display: block;
			border-bottom: 3px solid #1c3e9b;
			width: 60px;
			position: absolute;
			bottom: 0px;
			left: 47%;
		}
	}
	.prj__nav {
		width: 620px;
		margin: 40px auto;

		.prj__menu {
			font-size: clamp(0.5rem, 0.7rem, 1rem);
			text-transform: uppercase;
			line-height: $lineHeight;
			cursor: pointer;

			&:hover {
				color: #30a1fd;
			}
		}
		.active {
			color: $linkColor;

			&:hover {
				color: $linkColor;
			}
		}
	}

	.prj__img {
		width: 100%;
		max-width: 390px;
		height: auto;
		max-height: 290px;
		cursor: pointer;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: 0.5s ease;
		background-color: rgba(28, 62, 155, 0.8);
		cursor: pointer;

		.text {
			color: white;
			font-size: 1rem;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			text-align: center;

			h4 {
				font-size: 0.8rem;
				color: $linkColor;
			}

			p {
				font-size: 0.7rem;
				color: #ccc;
			}
		}
	}

	.prj__opacity:hover .overlay {
		opacity: 1;
	}

	.prj__btn {
		width: 215px;
		height: 50px;
		font-size: 0.8rem;
		line-height: $lineHeight;
		color: #fff;
		background-color: $linkColor;
		border: 1px solid transparent;
		border-radius: 10px;
		text-align: center;
		text-transform: uppercase;
		padding: 15px 35px;
		margin-top: 65px;
		margin-bottom: 60px;
		transition: 0.3s;

		&:hover {
			color: $linkColor;
			background: transparent;
			border: 1px solid $linkColor;
			border-radius: 10px;
			transition: 0.3s;
		}
	}
}

.prb__wrapper {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(/IMG/HeaderBack.png);
	width: 100%;
	height: 670px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	.prb__block {
		margin-top: 250px;
	}

	.prb__h3 {
		color: $bgColor;
		font-size: clamp(3rem, 3.5rem, 3rem);
		line-height: $lineHeight + 40px;
		margin-bottom: 40px;
	}

	.prb__btn {
		height: 50px;
		font-size: 1rem;
		line-height: $lineHeight;
		color: #fff;
		background-color: $linkColor;
		border: none;
		border-radius: 15px;
		text-align: center;
		padding: 15px 35px;

		.fas {
			font-size: 1.5rem;
			margin-right: 0.5rem;
		}
	}
}

// Contact
.cont__wrapper {
	background: url("/IMG/ContactBack.png");
	width: 100%;
	height: 700px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	.cont__row {
		padding: 70px 0;
	}

	.cont__second {
		.cont__block {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		#map {
			width: 470px;
			height: 420px;
		}

		h2 {
			color: $textColor;
			font-size: clamp(1.5rem, 2rem, 1.5rem);
			text-transform: uppercase;
			font-weight: 700;

			&::after {
				content: "";
				border-bottom: 3px solid $cardColor;
				width: 60px;
				display: block;
				position: absolute;
				padding-top: 10px;
			}
		}

		.cont__btn {
			width: 130px;
			height: 50px;
			font-size: 0.8rem;
			line-height: $lineHeight;
			color: #fff;
			background-color: $linkColor;
			border: 1px solid transparent;
			border-radius: 10px;
			text-align: center;
			text-transform: uppercase;
			padding: 15px 35px;
			margin-top: 35px;
			transition: 0.3s;

			&:hover {
				color: $linkColor;
				font-size: 1rem;
				background: #fff;
				border: 1px solid $linkColor;
				border-radius: 10px;
				transition: 0.3s;
			}
		}
	}
}

// Ticket
.tkt__wrapper {
	width: 100%;
	height: 220px;

	img {
		padding: 0 35px;
		opacity: 0.5;
		transition: 0.3s;
		cursor: pointer;

		&:hover {
			opacity: 1;
			transition: 0.3s;
		}
	}
}

// Footer
.foot__wrapper {
	width: 100%;
	height: 500px;
	background: #1a1a1a;

	.foot__nav {
		font-size: 1rem;
		color: #ccc;
		font-weight: bold;
		text-transform: uppercase;
	}

	.frst__column,
	.scnd__column,
	.thrd__column {
		width: 350px;
		height: 300px;
		margin-top: 95px;
	}

	.frst__column {
		margin-left: 120px;
		margin-right: 60px;

		.fas {
			color: $linkColor;
			padding: 15px 20px;
			background: #252525;
			border-radius: 50%;
			margin-right: 10px;
		}

		.fa-mobile-alt {
			font-size: 22px;
		}

		h6 {
			font-size: 1.2rem;
			font-weight: 700;
			color: #ccc;
		}

		p {
			font-size: 0.8rem;
			color: #999999;
		}
	}

	.scnd__column {
		margin-right: 80px;

		.blocks {
			display: flex;
			align-items: baseline;
		}

		.fas {
			color: $linkColor;
			font-size: 0.7rem;
			margin-right: 10px;
		}

		h6 {
			font-size: 1rem;
			color: #999999;
		}
	}

	.thrd__column {
		margin-left: 50px;
		padding: 40px;
		border: 1px dashed #404040;

		.sale__one,
		.sale__two {
			font-size: 1rem;
			font-weight: 700;
			color: #cccccc;
			text-align: center;

			span {
				font-size: 4rem;
				font-weight: bold;
				color: $linkColor;
			}
		}

		.sale__two {
			margin-top: 50px;

			span {
				font-size: 1rem;
			}
		}
	}
}

// End
.end__wrapper {
	height: 60px;
	background: #0d0d0d;

	.end__block {
		margin-top: 20px;
		text-align: center;
		font-size: 0.9rem;
		color: #666666;

		span {
			color: $linkColor;
		}
	}
}
